@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage





<h1>Way Finder Maze - Azure Maps Creator!</h1>

Welcome to the Way Finder Maze - Follow the steps below in order to generate a private indoor map

<ol>
    <li>Upload the floor plans    <a href="Package.zip" download>Download Sample Package</a><br /></li>
    <li>Convert them to map data</li>
    <li>Create a collection of map features (Dataset)</li>
    <li>Create a set of vector tiles that render on the map</li>
    <li>Run queries on the dataset</li>
    <li>Create a dynamic property and values on specific features that support them (Occupancy of a room)</li>
</ol>






